<%-include("header")%>
<div class="container">
    <div class="row my-3">
        <% Object.values(products).forEach(function(item){ %>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="/<%=item._id%>"><img class="card-img-top" src="/images/products/<%=item.image%>" alt="" /></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/<%=item._id%>"><%=item.name%></a>
                    </h4>
                    <h5>ราคา <%=item.price%> บาท</h5>
                    <p class="card-text"><%=item.description%></p>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
<%-include("footer")%>
