<%-include("header")%>
<div class="container">
    <h2>จัดการสินค้า</h2>
    <p>เพิ่ม ลบ แก้ไขข้อมูลในฐานข้อมูล</p>            
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ชื่อสินค้า</th>
                <th>ราคา</th>
                <th>รายละเอียด</th>
                <th>ลบ</th>
                <th>แก้ไข</th>
            </tr>
        </thead>
        <tbody>
            <% Object.values(products).forEach(function(item){ %>
                <tr>
                    <td><%=item.name%></td>
                    <td><%=item.price%></td>
                    <td><%=item.description%></td>
                    <td><a class="btn btn-danger" href="/delete/<%=item._id%>" onclick="return confirm('ยืนยันที่จะลบข้อมูล?')">ลบ</a></td>
                    <td>
                        <form action="/edit" method="POST">
                            <input type="hidden" name="edit_id" value="<%=item._id%>">
                            <button class="btn btn-primary" type="submit">แก้ไข</button>
                        </form>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%-include("footer")%>
