<%-include("header")%>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="images/products/<%=item.image%>" alt="" />
                <div class="card-body">
                    <h3 class="card-title"><%=item.name%></h3>
                    <h4>ราคา <%=item.price%> บาท</h4>
                    <p class="card-text"><%=item.description%></p>
                </div>
            </div>
        </div>
    </div>
</div>
<%-include("footer")%>
